<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2024 Anandteertha Rao. All rights reserved.</p>
            <div class="footer-links">
                <a href="https://github.com/anandteertha" target="_blank" class="footer-link">
                    <img src="/assets/github.png" alt="GitHub" class="footer-icon">
                </a>
                <a href="https://www.linkedin.com/in/anandteertha-rao-0a25ba189/" target="_blank" class="footer-link">
                    <img src="/assets/linkedin.png" alt="LinkedIn" class="footer-icon">
                </a>
                <a href="mailto:raoanandteertha@gmail.com" class="footer-link">
                    <img src="/assets/gmail.png" alt="Email" class="footer-icon">
                </a>
            </div>
        </div>
    </div>
</footer>
