<section id="internship">
    <h2>Internship Experience</h2>
    <div class="internship-card">
        <h3>Full Stack Developer and Product Manager</h3>
        <p><strong>Outrider Tech Pvt Ltd</strong> <span>(September 2020 - June 2021)</span></p>
        <ul>
            <li><strong>Developed Web Pages and APIs:</strong> Utilized Vanilla JS, Node.js (Express), Socket.io, and the Google Maps Drawing API to build and enhance application features.</li>
            <li><strong>Real-Time Location Tracking:</strong> Led a key project to display real-time updates of salesmen's locations on interactive maps using Socket.io for real-time data streaming and updates.</li>
            <li><strong>Team Management:</strong> Assigned tasks and deadlines to team members, reviewed their progress, and provided support and guidance as needed.</li>
            <li><strong>Stakeholder Interaction:</strong> Engaged with stakeholders to gather and analyze requirements, translating them into actionable development tasks and ensuring alignment with their needs and expectations.</li>
            <li><strong>Project Communication:</strong> Effectively communicated progress and challenges, ensuring clear and timely updates to all relevant parties.</li>
        </ul>
    </div>
</section>