<section id="certifications" class="certifications-section">
    <div class="container">
        <h2>Certifications</h2>
        <div class="certifications-grid">
            <!-- Certificate 1 -->
            <div class="certification-item">
                <img src="/assets/certificates/essar_endowment.jpg" alt="Essar Endowment Award" class="certification-image">
            </div>

            <!-- Certificate 2 -->
            <div class="certification-item">
                <img src="/assets/certificates/internship-certificate.jpg" alt="Internship Experience Certificate" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/internship-lor.jpg" alt="Internship LOR" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/wdl_project.png" alt="WDL Project Competition Winner" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/bugsquash-winner.jpg" alt="Bugsquash Competition Winner" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/blockchain-workshop.jpg" alt="Conducted Blockchain Workshop" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/NLP_workshop.jpg" alt="Attended NLP Workshop" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/hackerrank-sql-basic.png" alt="SQL - I" class="certification-image">
            </div>
            
            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/hackerrank-sql-intermediate.png" alt="SQL - II" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/hackerrank-java-basic.png" alt="JAVA - I" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/INTRODUCTION_TO_TENSORFLOW_CERTI.jpg" alt="Tensorflow" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/CONVOULUTION_NEURAL_NETWORKS_IN_TENSORFLOW_CERTI.jpg" alt="CNN" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/deep_fakes_with_keras.jpg" alt="Deep Fakes" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/NLP_CERTI.jpg" alt="NLP" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/blockchainBasics.jpg" alt="Blockchain" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/csi-tech-coordinator.jpg" alt="CSI Experience Letter" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/developerWeekend-1.png" alt="Certificate" class="certification-image">
            </div>

            <!-- Certificate 3 -->
            <div class="certification-item">
                <img src="/assets/certificates/pentastic.jpg" alt="Story Writing Competition" class="certification-image">
            </div>
            
        </div>
    </div>
</section>
