<section id="work-experience">
    <h1>Work Experience at nVent Thermal</h1>
    <div class="experience">
        <h2>Full-Stack Developer</h2>
        <p><strong>Duration:</strong> 5<sup>th</sup> July 2022 - Current</p>
        <p>
            At nVent Thermal, I played a pivotal role as a Full-Stack Developer, contributing to various aspects of the software development lifecycle. My responsibilities ranged from gathering requirements and interacting with stakeholders to production deployment and DevOps tasks.
        </p>
        <h3>Key Achievements:</h3>
        <ul>
            <li>
                <strong>Development of Critical Features:</strong> I was rapidly entrusted with developing key features essential for production releases. My early contributions and impressive velocity in sprints led to recognition and an accelerated progression within the team.
            </li>
            <li>
                <strong>Python Editor Integration:</strong> I led a project to embed a Python editor within our web application. This feature allowed users to write and execute Python scripts, generating custom warnings based on application events. This project showcased my skills in integrating Python with complex application logic.
            </li>
            <li>
                <strong>3D Piping Systems Proof of Concept (POC):</strong> I spearheaded a project to render 3D piping systems by importing PCF/IDF files. The POC involved using Three.js for frontend rendering in Angular and a .NET microservice for parsing and converting PCF/IDF files into JSON format. The parsing process utilized a machine learning model to interpret predefined rules and generate JSON lists.
            </li>
        </ul>
        <p>
            These experiences have not only honed my technical skills but also deepened my expertise in AI, machine learning, and Python, solidifying my commitment to advancing in the field of computer science.
        </p>
    </div>
</section>