<section id="work-experience" class="work-experience-section">
    <div class="container">
        <h2>Work Experience</h2>
        <div class="work-experience-list">
            <!-- Job Experience 1 -->
            <div class="work-experience-item">
                <div class="work-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <div class="work-content">
                    <h3><a routerLink="/work-experience-nvent" routerLinkActive="active">Software Developer at nVent Thermal India Pvt Ltd</a></h3>
                    <h4>July 2022 - Present</h4>
                    <p>Worked on a Python-based code editor within a microservice architecture on AWS Lambda. Developed features for executing Python scripts, enhancing security with sensing scripts, and led a POC project for 3D piping systems rendering.</p>
                </div>
            </div>

            <!-- Job Experience 2 -->
            <div class="work-experience-item">
                <div class="work-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="work-content">
                    <h3><a routerLink="/work-experience-outrider" routerLinkActive="active">Full Stack Developer & Product Manager at Outrider Tech Pvt Ltd</a></h3>
                    <h4>September 2020 - June 2021</h4>
                    <p>Created web pages and backend APIs using Vanilla JS, Node.js, and Socket.io. Managed tasks and deadlines, interacted with stakeholders, and developed real-time location tracking systems for sales teams.</p>
                </div>
            </div>
        </div>
    </div>
</section>
